/* STYLE */
body {
	font-size: 11px;
	font-family: Arial;
}

#fixed-nav {
	position: fixed;
	top: 60%;
	left: 0;
	width: 24px;
	border: 1px solid #444;
	border-left: none;
	background: #333;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	-khtml-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#fixed-nav .buttons a {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background: url(../images/arrows.gif) no-repeat 0 0;
}

#fixed-nav .buttons a:hover {
	background-color: #222;
}

#fixed-nav .buttons a.top:hover {
	background-position: -24px 0;
}

#fixed-nav .buttons a.bottom {
	background-position: 0 -24px;
}

#fixed-nav .buttons a.bottom:hover {
	background-position: -24px -24px;
}

#fixed-nav .buttons a.cmnts {
	background-position: 0 -48px;
}

#fixed-nav .buttons a.cmnts:hover {
	background-position: -24px -48px;
}

.red {
	color: red;
}

.white {
	color: white;
}

.cyan {
	color: cyan;
}

.silver {
	color: silver;
}

.blue {
	color: blue;
}

.gray {
	color: gray;
}

.darkBlue {
	color: darkblue;
}

.black {
	color: black;
}

.lightBlue {
	color: lightblue;
}

.orange {
	color: orange;
}

.purple {
	color: purple;
}

.brown {
	color: brown;
}

.yellow {
	color: yellow;
}

.maroon {
	color: maroon;
}

.lime {
	color: lime;
}

.green {
	color: green;
}

.magenta {
	color: magenta;
}

.olive {
	color: olive;
}

.oddRow {
	background-color: #EEE;
}

.evenRow {
	background-color: #CCC;
}