<md-content class="padded-content-page" ng-if="permit('RICHCONTENTS')">

    <div flex layout="column" layout-margin>

        <div layout="column">
            <form name="newForm">

                <md-input-container>
                    <label>Title</label>
                    <input ng-model="element.title" ng-required="true">
                </md-input-container>
                <md-content>
                    <md-select placeholder="RichContent type ..." ng-model="element.richContentType"
                               ng-required="true" ng-selected="element.richContentType">
                        <md-option ng-value="rt" ng-repeat="rt in richContentTypes">{{rt.name}}
                        </md-option>
                    </md-select>
                </md-content>
                <md-content>
                    <md-select placeholder="Language ..." ng-model="element.language"
                               ng-required="true" ng-selected="element.language">
                        <md-option ng-value="l" ng-repeat="l in languages">{{l}}
                        </md-option>
                    </md-select>
                </md-content>
                <md-input-container>
                    <label>Preview</label>
                    <textarea ng-model="element.preview" class="my-textarea"/>
                </md-input-container>
                <md-input-container>
                    <label>Content</label>
                    <textarea ng-model="element.content" class="my-textarea"/>
                </md-input-container>
                <md-input-container>
                    <label>Author</label>
                    <input ng-model="element.author" ng-required="false">
                </md-input-container>
                <md-input-container>
                    <label>Date</label>
                    <input ng-model="element.dateFmt" ng-required="true" type="datetime-local" ng-change="setDates()">
                </md-input-container>
                <md-content>
                    <md-input-container>
                        <label>Highlight</label>
                    </md-input-container>
                    <input type="checkbox" ng-model="element.highlight"/>
                </md-content>
                <md-content>
                    <br/>
                </md-content>
                <md-input-container>
                    <label>Tags (comma separated)</label>
                    <input ng-model="element.tags" ng-required="false">
                </md-input-container>
            </form>

        </div>

        <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button" ng-disabled="newForm.$invalid"
                       ng-click="save()" ng-submit="save()" ng-if="!element.id">SAVE
            </md-button>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button" ng-disabled="newForm.$invalid"
                       ng-click="update()" ng-submit="update()" ng-if="element.id">UPDATE
            </md-button>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button"
                       ng-click="back()">CANCEL
            </md-button>
            <div flex="5"/>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button" ng-disabled="newForm.$invalid"
                       ng-click="delete()" ng-if="element.id">DELETE
            </md-button>
        </div>

    </div>


</md-content>
