<md-content class="padded-content-page" ng-if="permit('RICHCONTENTS')">

    <div flex layout="column" layout-margin>

        <div layout="column">
            <form name="newForm">


                TODO
            </form>

        </div>

        <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button"
                       ng-click="back()">BACK TO LIST
            </md-button>
        </div>

    </div>


</md-content>
