<md-content class="padded-content-page" ng-if="permit('BANNERS')">

    <div flex layout="column" layout-margin>

        <div layout="row">

            <form ng-submit="refresh()" flex>
                <md-content layout="row" layout-sm="column" layout-wrap>
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="search['like.name']">
                    </md-input-container>
                    <md-input-container>
                        <label>Description</label>
                        <input ng-model="search['like.description']">
                    </md-input-container>
                </md-content>

                <md-content layout="row" layout-sm="column" layout-wrap>
                    <md-content>
                        <md-select placeholder="Banner type ..." ng-model="search['obj.bannerType.id']">
                            <md-option ng-value="bt.id" ng-repeat="bt in bannerTypes">{{bt.name}}
                            </md-option>
                        </md-select>
                    </md-content>


                </md-content>

                <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                           aria-label="raised button"
                           ng-submit="refresh()">search
                </md-button>
                <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                           aria-label="raised button"
                           ng-click="clear()">clear
                </md-button>
            </form>

            <md-button class="my-fab md-fab md-primary" aria-label="fab button" ng-click="add()" title="add">
                <md-icon md-font-icon="fa fa-plus"></md-icon>
            </md-button>
        </div>

        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div ng-if="!model">{{message}}</div>

        <div ng-if="model">

            <md-divider></md-divider>

            <table class="my-table" ng-if="model.length > 0">

                <thead theader/>

                <tbody>
                <tr data-ng-repeat="i in model" class="my-table-content-row"
                    ng-init="rowNumber = $index">
                    <td ng-click="edit(i.id)" class="my-table-content">{{rowNumber+1}}</td>
                    <td ng-click="edit(i.id)" class="my-table-content">{{i.name}}</td>
                    <td ng-click="edit(i.id)" class="my-table-content">{{i.bannerType.name}}</td>
                    <td ng-click="edit(i.id)" class="my-table-content">{{i.online ? 'online' : 'local'}}</td>
                    <td ng-if="false" ng-click="edit(i.id)" class="my-table-content">{{i.description}}</td>
                    <td ng-click="edit(i.id)" class="my-table-content">
                        <img ng-src="{{i.preview}}" width="200"/>
                    </td>
                    <td class="my-table-td-more">
                        <md-button class="my-fab-mini md-fab md-mini md-primary" title="edit"
                                   aria-label="fab button"
                                   ng-click="edit(i.id)">
                            <md-icon md-font-icon="fa fa-pencil"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>

                <tfoot tfooter/>
            </table>

            <section tpager/>
        </div>
    </div>

</md-content>
