<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-sm="100">
        <md-card>
            <md-toolbar>
                <div class="padding-20 text-center">
                    <div><img src="assets/images/logo.png" alt="{{appName}}"></div>
                    <h1 class="md-headline">
                    {{appName}}
                    <br/>
                        Login
                    </h1>
                </div>
            </md-toolbar>


            <md-content class="md-padding">
                <form name="login">
                    <md-input-container>
                        <label for="username">Username</label>
                        <input id="username" label="username" name="username" type="text" ng-model="user.username" required/>
                        <div ng-messages="login.username.$error">
                            <div ng-message when="required">
                                Il nome utente e' obbligatorio
                            </div>
                            <div ng-message when="username">
                                Il nome utente non e' valido
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label for="password">Password</label>
                        <input  id="password" label="password" name="password" type="password" ng-model="user.password" required/>
                        <div ng-messages for="login.password.$error">
                            <div ng-message when="required">
                                La password e' obbligatoria
                            </div>
                        </div>
                    </md-input-container>

					<md-progress-linear ng-if="loginInProgress" class="margin-bottom-20" md-mode="indeterminate"></md-progress-linear>

					<span ng-if="loginFailed">Login non riuscito</span>

                    <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"  ng-click="loginClick()" ng-disabled="login.$invalid">ACCEDI</md-button>

                </form>
            </md-content>
        </md-card>
    </div>
</div>
