<md-dialog aria-label="New folder dialog">
    <form name="dialogForm">
        <md-dialog-content>
            <md-content>
                <b>Allowed file types:</b>
                <br/>
                <i>{{accepts}}</i>
                <b ng-show="vm.uploadme.name"> <br/>
                    <br/>
                    Chosen file:</b>
                <br/>
                <i>{{vm.uploadme.name}}</i>
                <br/>
                <i ng-show="vm.uploadme.size">{{vm.uploadme.size}} bytes</i>
                <br/>
                <img ng-if="accepts == 'image/*'" ng-show="vm.uploadme.fileContent"
                     src="{{vm.uploadme.fileContent}}" style="width: 200px;"/>
                <md-input-container ng-hide="vm.uploadme.fileContent">
                    <input type="file" accept="{{accepts}}" fileread="vm.uploadme"/>
                </md-input-container>
            </md-content>
            <md-dialog-actions>
                <md-button ng-click="closeDialog()" class="md-primary">
                    Cancel
                </md-button>
                <md-button ng-click="upload()" class="md-primary" ng-disabled="!vm.uploadme.fileContent">
                    Ok
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
