<?xml version="1.0" encoding="UTF-8"?>
<html ng-app="jsApp" class="ng-scope">
  <head>
    <style type="text/css">
      @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="fragment" content="!"/>
    <meta name="author" content=""/>
    <title ng-bind="($state.current.title) + ' | Vota la tua estate'" class="ng-binding">
      Vota la tua estate | Vota la tua estate
    </title>
    <!-- open graph metadata. This won't work either! -->    <meta property="og:title" content="Vota la tua estate"/>
    <meta property="og:site_name" content="Vota la tua Estate"/>
    <meta property="og:url" content="//votalatua.estate"/>
    <meta property="og:description" content="Scegli il tuo chalet preferito per servizi, cortesia, prezzi o semplicemente per simpatia. Inserisci i tuoi dati e il tuo numero di telefono, poi fai uno squillo al numero indicato."/>
    <meta property="og:image" content="//votalatua.estate/img/logo-no-chalet.jpg"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <link href="/styles/themify-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/animate.css" rel="stylesheet"/>
    <link href="/styles/owl.carousel.css" rel="stylesheet"/>
    <link href="/styles/style.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  </head>
  <body style="zoom: 1;">
    <a id="top">
    </a>
    <div>
      <div class="loader" style="opacity: 0; display: none;">
        <div class="animated rubberBand spinner">
        </div>
      </div>
      <div class="layout-wrapper page" id="page">
        <header id="header" class=" header white-header active-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="logo">
                  <a ui-sref="home" title="" href="#!/">
                    <img src="/img/votalatuaestate_logo_black.png" class="black-logo standard-logo middle-content" alt=""/>
                    <img src="/img/votalatuaestate_logo_black.png" class="white-logo standard-logo middle-content" alt=""/>
                    <img src="/img/votalatuaestate_logo_black.png" class="black-logo retina-logo middle-content" alt=""/>
                    <img src="/img/votalatuaestate_logo_black.png" class="white-logo retina-logo middle-content" alt=""/>
                  </a>
                </div>
              </div>
              <div class="col-md-9 menu-col text-right">
                <div class="menu">
                  <ul class="list-inline">
                    <li class="dropdown menu-item">
                      <a ui-sref="home" href="#!/">
                        Home
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="chalet" href="#!/chalet">
                        Chalet
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="classifica" href="#!/classifica">
                        Classifica
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="vota" href="#!/vota">
                        Vota
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="come-si-fa" href="#!/come-si-fa">
                        Come si fa
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="cosa-si-vince" href="#!/cosa-si-vince">
                        Cosa si vince
                      </a>
                    </li>
                    <li class="dropdown menu-item">
                      <a ui-sref="regolamento" href="#!/regolamento">
                        Regolamento
                      </a>
                    </li>
                    <li ng-show="logged" class="dropdown menu-item ng-hide" profile-tag="" ng-hide="true">
                      <a ui-sref="profilo" href="#!/profilo">
                        Profilo
                      </a>
                    </li>
                    <li class="dropdown menu-item ng-hide" login-tag="" ng-hide="true">
                      <!-- ngIf: !logged -->                      <a ui-sref="login" ng-if="!logged" class="ng-scope" href="#!/login">
                        Login
                      </a>
                      <!-- end ngIf: !logged -->                      <!-- ngIf: logged -->                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-toggle ">
                <i class="ti-menu"/>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
    <!-- uiView:  -->    <div ui-view="" class="ng-scope">
      <div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section ng-scope">
        <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="backgroundpositionx: 0%; backgroundPositionY: 45px;">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="">
              <div class="resizeMe bigFonts">
                Vota la tua estate
              </div>
              <p class="">
                
                    Vota la tua estate
                
              </p>
              <ol class="breadcrumb">
                <li class="active">
                  <a ui-sref="home" href="#!/">
                    Home
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="section active-section ng-scope">
        <div class="container">
          <div class="row">
            <div class="content">
              <div class="col-md-12">
                <h2 class="lighter resizeMe bigFonts">
                  Come si gioca
                </h2>
                <div class="space large">
                </div>
              </div>
              <div class="col-md-2 text-center">
                <i class="icon large ti-medall"/>
                <p class="uppercase-text">
                  1. Scegli il tuo chalet
                </p>
              </div>
              <div class="col-md-2 text-center">
                <i class="icon large ti-pencil-alt"/>
                <p class="uppercase-text">
                  2. Inserisci i tuoi dati
                </p>
              </div>
              <div class="col-md-2 text-center">
                <i class="icon large ti-check"/>
                <p class="uppercase-text">
                  3. Vota... Vota... Vota...
                </p>
              </div>
              <div class="col-md-2 text-center">
                <i class="icon large ti-mobile"/>
                <p class="uppercase-text">
                  4. Chiama
                </p>
              </div>
              <div class="col-md-2 text-center">
                <i class="icon large ti-cup"/>
                <p class="uppercase-text">
                  5. Vinci
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="space large">
        </div>
        <div class="container">
          <div class="row">
            <div class="content">
              <div class="col-md-12">
                <h1 class="lighter">
                  <i class="icon large ti-home"/>
                   108 Chalet
                </h1>
                <div class="space large">
                </div>
              </div>
              <!-- ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/bossanova" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/bossa-nova.jpg" alt="BOSSANOVA" ng-if="item.images.length>0" class="ng-scope" src="/img/bossa-nova.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BOSSANOVA
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 77
                  </h3>
                  <p class="ng-binding">
                    Viale Rinascimento, 26 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/chalet.nova" title="https://www.facebook.com/chalet.nova" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/77" title="vota BOSSANOVA - conc. 77">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/blumarine" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/blu-marine.jpg" alt="BLUMARINE" ng-if="item.images.length>0" class="ng-scope" src="/img/blu-marine.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BLUMARINE
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 34-35a
                  </h3>
                  <p class="ng-binding">
                    Viale Marconi, 31 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Chalet-Blumarine/212387152115942" title="https://www.facebook.com/pages/Chalet-Blumarine/212387152115942" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/34-35a" title="vota BLUMARINE - conc. 34-35a">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/45-com" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/45.jpg" alt="45 COM" ng-if="item.images.length>0" class="ng-scope" src="/img/45.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    45 COM
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 45
                  </h3>
                  <p class="ng-binding">
                     - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/45com-disco-chalet/114649731966442" title="https://www.facebook.com/pages/45com-disco-chalet/114649731966442" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/45" title="vota 45 COM - conc. 45">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/boobies-bar" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/bobbies.jpg" alt="BOOBIE'S BAR" ng-if="item.images.length>0" class="ng-scope" src="/img/bobbies.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BOOBIE'S BAR
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 82
                  </h3>
                  <p class="ng-binding">
                    Viale Rinascimento, 24 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/82" title="vota BOOBIE'S BAR - conc. 82">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/calypso" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/calypso.jpg" alt="CALYPSO" ng-if="item.images.length>0" class="ng-scope" src="/img/calypso.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    CALYPSO
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 84
                  </h3>
                  <p class="ng-binding">
                    Viale Rinascimento, 22 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Chalet-Calipso/216368191717836" title="https://www.facebook.com/pages/Chalet-Calipso/216368191717836" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/84" title="vota CALYPSO - conc. 84">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/albachiara" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/albachiara.jpg" alt="ALBACHIARA" ng-if="item.images.length>0" class="ng-scope" src="/img/albachiara.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    ALBACHIARA
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 71b
                  </h3>
                  <p class="ng-binding">
                    Viale Rinascimento, 122 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Chalet-Albachiara-71bis/116182428400143" title="https://www.facebook.com/pages/Chalet-Albachiara-71bis/116182428400143" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/71b" title="vota ALBACHIARA - conc. 71b">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/brasil" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/brasil.jpg" alt="BRASIL" ng-if="item.images.length>0" class="ng-scope" src="/img/brasil.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BRASIL
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 39
                  </h3>
                  <p class="ng-binding">
                    Viale Marconi, 43 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Chalet-Brasil/202512713099684" title="https://www.facebook.com/pages/Chalet-Brasil/202512713099684" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <li ng-if="item.website" class="ng-scope">
                      <a href="http://www.brasil39.com" title="http://www.brasil39.com" target="_blank">
                        <i class="icon ti-desktop"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/39" title="vota BRASIL - conc. 39">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/capitan-mario" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/capitan-mario.jpg" alt="CAPITAN MARIO" ng-if="item.images.length>0" class="ng-scope" src="/img/capitan-mario.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    CAPITAN MARIO
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 78
                  </h3>
                  <p class="ng-binding">
                     - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/78" title="vota CAPITAN MARIO - conc. 78">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/bagni-da-federico" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/da-federico.jpg" alt="BAGNI DA FEDERICO" ng-if="item.images.length>0" class="ng-scope" src="/img/da-federico.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BAGNI DA FEDERICO
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 5
                  </h3>
                  <p class="ng-binding">
                    Viale Trieste, 11 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Ristorante-da-Federico/108240452593993" title="https://www.facebook.com/pages/Ristorante-da-Federico/108240452593993" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <li ng-if="item.website" class="ng-scope">
                      <a href="http://www.dafederico.com" title="http://www.dafederico.com" target="_blank">
                        <i class="icon ti-desktop"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/5" title="vota BAGNI DA FEDERICO - conc. 5">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/chalet-degli-angeli" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/chalet-degli-angeli.jpg" alt="CHALET DEGLI ANGELI" ng-if="item.images.length>0" class="ng-scope" src="/img/chalet-degli-angeli.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    CHALET DEGLI ANGELI
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 111
                  </h3>
                  <p class="ng-binding">
                    Via San Giacomo, 51 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/pages/Chalet-degli-angeli/218556641496824" title="https://www.facebook.com/pages/Chalet-degli-angeli/218556641496824" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/111" title="vota CHALET DEGLI ANGELI - conc. 111">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/casablanca" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <img ng-src="/img/casablanca.jpg" alt="CASABLANCA" ng-if="item.images.length>0" class="ng-scope" src="/img/casablanca.jpg"/>
                    <!-- end ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    CASABLANCA
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 96
                  </h3>
                  <p class="ng-binding">
                    Viale Rinascimento, 8 - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <li ng-if="item.facebook" class="ng-scope">
                      <a href="https://www.facebook.com/chalet.casablanca" title="https://www.facebook.com/chalet.casablanca" target="_blank">
                        <i class="icon ti-facebook"/>
                      </a>
                    </li>
                    <!-- end ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/96" title="vota CASABLANCA - conc. 96">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->              <div class="col-md-4 ng-scope" ng-repeat="item in model">
                <div class="team-block">
                  <a href="/#!/chalet_id/bagni-fausto" title="" class="team-image text-center">
                    <!-- ngIf: item.images.length==0 -->                    <img src="/img/votalatuaestate_placeholder.png" alt="BAGNI FAUSTO" ng-if="item.images.length==0" class="ng-scope"/>
                    <!-- end ngIf: item.images.length==0 -->                    <!-- ngIf: item.images.length>0 -->                    <span class="overlay">
                      <i class="icon ti-check-box middle-content"/>
                    </span>
                  </a>
                  <p class="position ng-binding">
                    BAGNI FAUSTO
                  </p>
                  <h3 class="ng-binding">
                    conc. n. 110
                  </h3>
                  <p class="ng-binding">
                     - San Benededetto del Tronto
                  </p>
                  <ul class="list-inline social-links text-center">
                    <!-- ngIf: item.facebook -->                    <!-- ngIf: item.website -->                    <!-- ngIf: item.google -->                    <li>
                      <a href="/#!/vota/110" title="vota BAGNI FAUSTO - conc. 110">
                        <i class="icon ti-check"/>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="space">
                  </div>
                </div>
              </div>
              <!-- end ngRepeat: item in model -->            </div>
          </div>
        </div>
      </section>
      <section class="section divider-section active-section ng-scope">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="divider">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section with-overlay black-overlay background-wrapper  active-section" tabfooter="">
        <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="backgroundpositionx: 0%; backgroundPositionY: 2188.5px;">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 class="small-text uppercase-text strong-text">
                Vota la tua estate.
              </h3>
              <p>
                Vota la tua estate, tanto è gratis. 
              </p>
              <p>
                 Anzi, rischi di vincere un premio.
              </p>
              <ul class="list-inline social-links">
                <li>
                  <a href="http://facebook.com/votalatuaestate" title="facebook.com/votalatuaestate">
                    <i class="icon ti-facebook"/>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <h3 class="small-text uppercase-text strong-text">
                Sei uno chalet?
              </h3>
              <p>
                Contattaci 
                <a href="/cdn-cgi/l/email-protection#0f666169604f79607b6e636e7b7a6e216a7c7b6e7b6a">
                  info@votalatua.estate
                </a>
                .
              </p>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <h3 class="small-text uppercase-text strong-text">
                Cosa si vince
              </h3>
              <p>
                Ti avviseremo attraverso un SMS al numero da te indicato.
              </p>
            </div>
            <div class="col-md-12 text-center">
              <div class="space">
              </div>
              <div class="space">
              </div>
              <ul class="list-inline">
                <li class="uppercase-text strong-text">
                  <a ui-sref="home" href="#!/">
                    Home
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="chalet" href="#!/chalet">
                    Chalet
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="classifica" href="#!/classifica">
                    Classifica
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="vota" href="#!/vota">
                    Vota
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="come-si-fa" href="#!/come-si-fa">
                    Come si fa
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="cosa-si-vince" href="#!/cosa-si-vince">
                    Cosa si vince
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="privacy" href="#!/privacy">
                    Privacy
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="cookie-policy" href="#!/cookie-policy">
                    Cookie Policy
                  </a>
                </li>
                <li class="uppercase-text strong-text">
                  <a ui-sref="regolamento" href="#!/regolamento">
                    Regolamento
                  </a>
                </li>
                <li ng-show="logged" class="uppercase-text strong-text ng-hide" profile-tag="" ng-hide="true">
                  <a ui-sref="profilo" href="#!/profilo">
                    Profilo
                  </a>
                </li>
                <li class="uppercase-text strong-text ng-hide" login-tag="" ng-hide="true">
                  <!-- ngIf: !logged -->                  <a ui-sref="login" ng-if="!logged" class="ng-scope" href="#!/login">
                    Login
                  </a>
                  <!-- end ngIf: !logged -->                  <!-- ngIf: logged -->                </li>
              </ul>
              <p>
                © 2015 - Vota la tua estate - Partita Iva 01826800441
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="//www.google-analytics.com/analytics.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js">
    </script>
    <script src="//code.angularjs.org/1.4.3/i18n/angular-locale_it-it.js">
    </script>
    <script src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js">
    </script>
    <script src="scripts/app.js">
    </script>
    <script src="scripts/constants/global.js">
    </script>
    <script src="scripts/services/baseservice.js">
    </script>
    <script src="scripts/services/chaletservice.js">
    </script>
    <script src="scripts/services/classificaservice.js">
    </script>
    <script src="scripts/services/blogservice.js">
    </script>
    <script src="scripts/services/storageservice.js">
    </script>
    <script src="scripts/services/authenticationservice.js">
    </script>
    <script src="scripts/services/singlefileupload.js">
    </script>
    <script src="scripts/services/photoservice.js">
    </script>
    <script src="scripts/services/votazioniservice.js">
    </script>
    <script src="scripts/functions/pager.js">
    </script>
    <script src="scripts/controllers/chalet.js">
    </script>
    <script src="scripts/controllers/chalet_single.js">
    </script>
    <script src="scripts/controllers/classifica.js">
    </script>
    <script src="scripts/controllers/home.js">
    </script>
    <script src="scripts/controllers/vota.js">
    </script>
    <script src="scripts/controllers/informazioni.js">
    </script>
    <script src="scripts/controllers/contatti.js">
    </script>
    <script src="scripts/controllers/login.js">
    </script>
    <script src="scripts/controllers/registrati.js">
    </script>
    <script src="scripts/controllers/profilo.js">
    </script>
    <script src="scripts/controllers/upload.js">
    </script>
    <script src="scripts/controllers/foto.js">
    </script>
    <script src="scripts/controllers/votazioni.js">
    </script>
    <script src="scripts/directives/tab-footer.js">
    </script>
    <script src="scripts/directives/login-tag.js">
    </script>
    <script src="scripts/directives/profile-tag.js">
    </script>
    <script src="scripts/directives/privacy.js">
    </script>
    <script src="scripts/directives/fileModel.js">
    </script>
    <script src="js/jquery-1.10.2.min.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
    <script src="js/ie8-responsive-file-warning.js">
    </script>
    <script src="js/isotope.pkgd.min.js">
    </script>
    <script src="js/jquery.flexslider-min.js">
    </script>
    <script src="js/jquery.form.min.js">
    </script>
    <script src="js/jquery.localscroll.min.js">
    </script>
    <script src="js/jquery.scrollto.min.js">
    </script>
    <script src="js/owl.carousel.min.js">
    </script>
    <script src="scripts/scripts.js">
    </script>
    <script src="js/stellar.js">
    </script>
    <script src="js/validator.min.js">
    </script>
    <script src="js/waypoints.min.js">
    </script>
    <script type="text/javascript" src="js/cookie.js">
    </script>
    <script>
//<![CDATA[

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-30883525-4', 'auto');

//]]>
    </script>
  </body>
</html>
