<md-content class="padded-content-page" ng-if="permit('SCENARIO')">

    <div flex layout="column" layout-margin>

        <div layout="row">
            <h2>Images</h2>
            <div flex></div>
            <md-button class="my-fab md-fab md-primary" aria-label="fab button" ng-click="addFile($event)">
                <md-icon md-font-icon="fa fa-angle-up"></md-icon>
            </md-button>
            <md-button class="my-fab md-fab md-primary" aria-label="fab button" ng-click="addFiles($event)">
                <md-icon md-font-icon="fa fa-angle-double-up"></md-icon>
            </md-button>
            <md-button class="my-fab md-fab md-primary"
                       aria-label="fab button"
                       ng-click="chooseFile($event)">
                <md-icon md-font-icon="fa fa-folder-open-o"></md-icon>
            </md-button>
            <md-button class="my-fab md-fab md-primary" aria-label="fab button" ng-click="editDocuments()" ng-if="element.id">
                <md-icon md-font-icon="fa fa-file"></md-icon>
            </md-button>
            <md-button class="my-fab md-fab md-primary" aria-label="fab button"
                       ng-click="editProducts()" ng-if="element.id">
                <md-icon md-font-icon="fa fa-book"></md-icon>
            </md-button>
        </div>

        <div flex></div>

        <div ng-if="!resources || resources.length == 0">
            No images.
        </div>

        <div>
            <table class="my-table" ng-if="resources.length > 0">

                <thead theader/>

                <tbody>
                <tr data-ng-repeat="r in resources | filter: search | orderBy: ['type','name'] "
                    class="my-table-content-row" ng-init="rowNumber = $index"
                        >
                    <td class="my-table-content">&nbsp;{{rowNumber+1}}</td>
                    <td class="my-table-content">{{r.name}}</td>
                    <td class="my-table-content">{{r.type}}</td>
                    <td class="my-table-content">
                        <img ng-src="{{r.preview}}" width="200px" />
                        <a href="{{r.preview}}" target="_blank" ng-if="false">
                            <md-icon md-font-icon="fa fa-download"></md-icon>
                        </a>
                    </td>
                    <td class="my-table-td-more">
                        <md-button class="my-fab-mini md-fab md-mini md-primary"
                                   aria-label="fab button"
                                   ng-click="delete(r)">
                            <md-icon md-font-icon="fa fa-remove"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>

                <tfoot tfooter/>
            </table>
        </div>

        <div flex>&nbsp;</div>

        <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button"
                       ng-click="back()">CANCEL
            </md-button>
        </div>

    </div>


</md-content>
