<md-dialog aria-label="Graphics dialog">
    <form name="dialogForm">

        <md-dialog-content>

            <div flex layout="column" layout-margin>

                <div layout="row">
                    <h3>{{folder.path}}</h3>
                    <div flex></div>
                </div>

                <md-input-container>
                    <label>Filter by name</label>
                    <input ng-model="search.name">
                </md-input-container>

                <div ng-show="previous" ng-hide="previous.folder == root || folder.path == root">
                    up
                    <md-button class="my-fab-mini md-fab md-mini md-primary" aria-label="fab button"
                               ng-click="loadResources(previous)">
                        <md-icon md-font-icon="fa fa-reply"></md-icon>
                    </md-button>
                </div>
                <br/>

                <md-divider></md-divider>

                <table class="my-table" ng-if="resources.length > 0">

                    <thead theader/>

                    <tbody>
                    <tr data-ng-repeat="r in resources | filter: search | orderBy: ['type','name'] "
                        class="my-table-content-row" ng-init="rowNumber = $index"
                            >
                        <td ng-click="pick(r)" class="my-table-content">&nbsp;{{rowNumber+1}}</td>
                        <td ng-click="pick(r)" class="my-table-content">{{r.name}}
                            <span ng-if="r.empty" style="font-style: italic;"> (empty folder)</span>
                        </td>
                        <td ng-click="pick(r)" class="my-table-content">{{r.type}}</td>
                        <td ng-click="pick(r)" class="my-table-content">
                            <img ng-src="{{r.preview}}" width="30px" ng-hide="r.type != type"/>
                        </td>
                        <td class="my-table-td-more">
                            <md-button class="my-fab-mini md-fab md-mini md-primary"
                                       aria-label="fab button"
                                       ng-click="pick(r)" ng-show="r.type == 'folder'">
                                <md-icon md-font-icon="fa fa-folder-open-o"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot tfooter/>
                </table>

                <md-divider></md-divider>

                <div layout="row" layout-align="end end">
                    <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                               aria-label="raised button"
                               ng-click="cancel()">CANCEL
                    </md-button>
                </div>

            </div>

        </md-dialog-content>
    </form>
</md-dialog>