<md-content class="padded-content-page" ng-if="permit('BANNERS')">

    <div flex layout="column" layout-margin>

        <div layout="column">
            <form name="newForm">

                <md-input-container>
                    <label>Name</label>
                    <input ng-model="element.name" ng-required="true">
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <input ng-model="element.description">
                </md-input-container>
                <md-content>
                    <md-select placeholder="Banner type ..." ng-model="element.bannerType"
                               ng-required="true" ng-selected="element.bannerType">
                        <md-option ng-value="bt" ng-repeat="bt in bannerTypes">{{bt.name}}
                        </md-option>
                    </md-select>
                </md-content>
                <md-content>
                    <md-select placeholder="Language ..." ng-model="element.language"
                               ng-required="true" ng-selected="element.language">
                        <md-option ng-value="l" ng-repeat="l in languages">{{l}}
                        </md-option>
                    </md-select>
                </md-content>
                <md-content>
                    <md-input-container>
                        <label>Online</label>
                    </md-input-container>
                    <input type="checkbox" ng-model="element.online" ng-change="element.internal = !element.online"/>
                </md-content>
                <md-input-container ng-hide="element.internal" ng-if="element.online">
                    <label>URL</label>
                    <input ng-model="element.url"/>
                </md-input-container>
                <md-content ng-if="false">
                    <md-input-container>
                        <label>Internal</label>
                    </md-input-container>
                    <input type="checkbox" ng-model="element.internal"/>
                </md-content>
                <md-content ng-if="! element.online">
                    <md-input-container>
                        <label>Image</label>
                    </md-input-container>
                    <div layout="row">
                        <md-button class="my-fab-mini md-fab md-mini md-primary"
                                   aria-label="fab button"
                                   ng-click="addFile($event)">
                            <md-icon md-font-icon="fa fa-upload"></md-icon>
                        </md-button>
                        <md-button class="my-fab-mini md-fab md-mini md-primary"
                                   aria-label="fab button"
                                   ng-click="chooseFile($event)">
                            <md-icon md-font-icon="fa fa-folder-open-o"></md-icon>
                        </md-button>
                        <div flex></div>
                    </div>
                </md-content>
                <md-content>
                    <img ng-src="{{element.url}}" ng-show="element.online" width="300"/>
                    <img ng-src="{{baseUrl}}{{element.url}}" ng-show="!element.online" width="300"/>
                </md-content>
            </form>

        </div>

        <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button" ng-disabled="newForm.$invalid"
                       ng-click="save()" ng-submit="save()" ng-if="!element.id">SAVE
            </md-button>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button" ng-disabled="newForm.$invalid"
                       ng-click="update()" ng-submit="update()" ng-if="element.id">UPDATE
            </md-button>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button"
                       ng-click="back()">CANCEL
            </md-button>
            <div flex="5"/>
            <md-button class="md-raised" ng-class="[buttonClass, buttonHue]"
                       aria-label="raised button"
                       ng-click="delete()" ng-if="element.id">DELETE
            </md-button>
        </div>

    </div>


</md-content>
